@import "../../scss/vars";

.root {
  margin-top: 10px;

  & li {
    height: 37px;
    padding: 0 16px;

    display: flex;
    align-items: center;

    user-select: none;

    &:hover {
      background-color: rgb(239, 251, 255);
    }

    & .checkbox {
      width: 22px;
      height: 22px;
      border-radius: 4px;
      border: 1px solid #d6d6d6;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }

    & .checkboxActive {
      width: 22px;
      height: 22px;
      border-radius: 4px;
      border: 1px solid $blue;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }

    & label {
      font-size: 14px;
      padding-left: 10px;

      cursor: pointer;
    }

    & .textWithHover {
      margin-bottom: -2px;
      margin-left: auto;

      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: $blue;

      cursor: pointer;
    }
  }
}
