@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro/MyriadPro-Light.otf") format("otf"),
    url("../assets/fonts/MyriadPro/MyriadPro-Light.otf") format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro/MYRIADPRO-BOLD.OTF") format("otf"),
    url("../assets/fonts/MyriadPro/MYRIADPRO-BOLD.OTF") format("otf");
  font-weight: bold;
}
